
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr

# Local env files (IMPORTANT)
.env
.env.local
.env.development
.env.production

# Editor files
.vscode/*
!.vscode/extensions.json
.idea

# OS files
.DS_Store

# Build tools
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.local

# ZIP files (VERY IMPORTANT for your case)
*.zip

node_modules/
dist/
build/
.env
.env.local
.vite/

